/GrafisAkhir/build/
/GrafisAkhir/nbproject/private/
/GrafisKeyEvent/nbproject/private/
/GrafisKeyEvent/build/
/Pertemuan7/nbproject/private/
/Pertemuan7/build/
/Pertemuan8/nbproject/private/
/Pertemuan8/build
/Responsi2_[[]151111079]_[[]A]/nbproject/private/
/Responsi2_[[]151111079]_[[]A]/build/